@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    user-select: none;
}

.container {
    height: 100vh;
    width: 100%;
    background: url(https://source.unsplash.com/3000x3000/?minimalist);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.right_portion {
    position: absolute;
    top: 0;
    right: 30%;
}


/* ---navbar--- */
nav {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    padding: 0.3rem 1.3rem;
    font-size: 17px;
    font-weight: bold;
    color: #494234;
    position: relative;
    z-index: 1;
}

nav ul span a {
    text-decoration: none;
    color: #494234;
}

nav ul li a:hover{
    color: #fff;
}

nav ul li a::after {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #5c5858;
    color: #494234;
    z-index: -1;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}
/* ---end of navbar--- */

/* ---swiper image  slide */
.swiper {
    background: #5c5858;
    width: 200px;
    height: 400px;
    position: relative;
    left: 0;
    bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: flex;
    width: 100%;
}

/* --end of slide */


/* ---Main Content--- */
.main-content {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 30px;
    width: 60%;
    height: 350px;
    padding-top: 100px;
    margin-left: 3rem;
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;   
}

.img-slider,.main-text {
    flex-basis: 50%;
}

.main-text{
    padding-left: 15px;
}

/* img {
    width: 300px;
    height: 300px;
} */

.img-slider img {
    width: 100%;
}

.main-content h1 {
    font-size: 60px;
    letter-spacing: 1px;
    color: #494234;
}

.main-content p {
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 1px;
}

.main-content .logo {
    width: 250px;
    height: 50px;
}
.main-content button {
    margin-top: 2.5rem;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 0;
    background-color: #494234;
    color: #fff;
    cursor: pointer;
}

.main-content .main-text a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

/* ---swiper slide */

.swiper {
    width: 20rem;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* --right side content */
.right {
    position: absolute;
    right: 8%;
    bottom: 20%;
}

.box {
    display: flex;
    align-items: center;
}

.right .box .image img {
    width: 70%;
} 

.image {
    margin-top: 2rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: -5px 5px 17px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}

.image:hover {
    background-color: rgba(73, 66, 52, 0.7);
}

.box .inner-box {
    margin: 1.5rem 0 0 1rem;
}

.box .inner-box p {
    font-size: 14px;
    font-weight: 500;
}

/* --social media links icons */
.social-links {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.social-links::before{
    content: "";
    width: 80%;
    height: 3px;
    position: absolute;
    top: 42%;
    left: -210px;
    background-color: #494234;
}

.social-links a i{
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    margin-left: 15px;
    padding-left: 6px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #82817f;
    display: inline-flex;
    align-items: center;
    transition: 0.5s;
}

i {
    width: 50px;
    height: 50px;
}

.social-links i:hover {
    transform: translateY(-10px);
}

/* Photography Page */
.wrapper {
    display: flex;
    width: 92%;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 50px;
    top: 60px;

}

.card {
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out;
}

.card:hover {
  transform: translateY(20px);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover:before {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card .info h1 {
  margin: 0;
}

.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.card .info .btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.card .info .btn:hover {
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

/* Videography Page */
/* Graphic Design Page */
/* Web Development Page */
/* 3D Page */
/* FAQ Page */